---
const year = new Date().getFullYear();
---
<footer class="flex self-end flex-row h-max w-full py-2 items-center justify-center text-center text-xs text-gray-400">
    <p>&copy; {year} Manomay Kagalkar. All rights reserved.</p>
</footer>