---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Cursor from '../components/Cursor.astro';
import Footer from '../components/Footer.astro';
const links = [
	{
		name: 'linkedin',
		url: 'https://www.linkedin.com/in/manomaykagalkar/',
		image: '/images/linkedin.png',
	},
	{
		name: 'github',
		url: 'https://www.github.com/gitmank/',
		image: '/images/github.png',
	},
	{
		name: 'email',
		url: 'mailto:manomay111@gmail.com',
		image: '/images/email.png',
	}
];
---

<Layout title="Manomay Kagalkar", pageKeywords='React, Node, AWS, MERN'>
	<main class="flex flex-col h-max w-full min-h-screen justify-start items-center">
		<!-- useless header, might add blog link -->
		<Header />
		<!-- custom cursor with effects -->
		<Cursor />

		<!-- landing page with name, photo, domains and social links -->
		<section class="flex flex-col md:flex-row-reverse h-screen w-full max-w-full justify-around p-10 md:p-14 md:gap-14 items-start">
			<img src="/images/manomay.png" alt="me in my zone" width="350" height="350" class="rounded-xl md:self-center hover:scale-105 duration-300 shadow-lg hover:shadow-gray-600 z-20">
			<div class="flex flex-col items-start md:self-center justify-center w-full md:w-max h-max gap-3 md:gap-5">
				<h1 class="text-3xl md:text-5xl font-bold text-left text-black dark:text-white">
					Manomay Kagalkar
				</h1>
				<p class="text-xl md:text-2xl text-left text-wrap text-gray-600 dark:text-gray-400">
					full stack developer who works with multiple AWS services
				</p>
				<div class="flex flex-row items-center justify-start h-max w-max gap-5 mt-10">
					{ links.map(link => <a class="w-10 md:w-12 z-20 hover:scale-105 duration-200" href={link.url}><img class="border-[1px] rounded-md" src={link.image}></img></a>)}
					<!-- <button id="about-us-button" class="flex flex-row justify-center items-center px-3 gap-3 w-max h-10 md:w-max md:h-12 rounded-md z-20 hover:scale-105 duration-200 border-[1px] border-black bg-black text-white dark:border-white animate-pulse"><p class="animate-bounce mt-2">⬇</p>More</button> -->
				</div>
			</div>
		</section>

		<!-- Footer -->
		<Footer />
	</main>
</Layout>

<script>
	document.getElementById('about-us-button').addEventListener('click', () => {
		window.scrollTo({
			top: document.body.scrollHeight,
			behavior: 'smooth'
		});
	})
</script>
